* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	font-family: 'montserrat', sans-serif;
	text-decoration: none;
	color: #000;
}

.wrap {
	max-width: 950px;
	max-height: 100vh;
	margin: 0 auto;
	padding: 0 25px;
	text-align: center;
}

.header {
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
}

.photo-avatar {
	width: 23%;
	border-radius: 100px;
	margin-bottom: 20px;
	padding-top: 25px;
}

.header h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.header h3 {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 25px;
}

.link-contact {
	width: auto;
	display: flex;
	justify-content: space-around;
	padding-bottom: 10px;
	list-style: none;
}

li {
	width: 50px;
	height: 55px;
	padding-right: 5px;
}

.link-contact li img {
	width: auto;
}

@keyframes shake {
	0%, 50%, 100% {
		transform: rotate(0deg);
	}
	10%, 30% {
		transform: rotate(-10deg);
	}
	20%, 40% {
		transform: rotate(10deg);
	}
}

.link-contact li img:hover {
	animation: shake 1.2s ease-in-out;
}

.aboutMe h2 {
	text-transform: uppercase;
	padding: 10px 0 7px 0;
	border-top: 5px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}

.aboutMe p {
	font-size: 1em;
	font-weight: 500;
	border-bottom: 5px solid #c7c7c7;
	padding: 20px 35px 30px 35px;
}

.projects h2 {
	text-transform: uppercase;
	padding: 10px 0 7px 0;
	border-bottom: 1px solid #c7c7c7;
}

.swiper-container {
	padding-top: 65px;
	margin-bottom: 35px;
}

.swiper-slide figure {
	max-width: 650px;
	display: flex;
	flex-direction: column;
}

figure img,
figure figcaption {
	width: 100%;
	padding-bottom: 20px;
}

figure a button {
	width: 100%;
	position: relative;
	text-transform: uppercase;
	padding: 7px 25px;
	border: 1px solid #c7c7c7;
	background: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
}

figure a button:hover,
figure a button:focus {
	top: 4px;
	box-shadow: 0 2px 6px 0 rgba(152, 160, 180, 10);
}

figure p {
	font-size: 1.5em;
	font-weight: 500;
	padding-top: 15px;
}

figure figcaption {
	font-size: 1em;
	padding: 15px 0 30px 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	color: #000;
	font-size: 35px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0;
}

.swiper-pagination-bullet-active {
	background: #000;
}

.education h2{
	text-transform: uppercase;
	border-top: 5px solid #c7c7c7;
	border-bottom: 5px solid #c7c7c7;
	padding: 10px 0 7px 0;
	border-bottom: 1px solid #c7c7c7;
}

.education li {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 30px 15px;
}

.education li div p {
	width: 100%;
	text-align: left;
	padding: 15px;
}

.education div ul{
	width: 76%;
}

.education li li {
	padding: 0 0 8px 0;
	text-align: left;
}

.education li img {
	width: auto;
	padding-bottom: 25px;

}

.education li h3 {
	font-weight: bold;
	padding-bottom: 15px;
}

.education li p {
	width: 80%;
}

.skills h2{
	text-align: center;
	text-transform: uppercase;
	border-top: 5px solid #c7c7c7;
	padding: 10px 0 7px 0;
	border-bottom: 1px solid #c7c7c7;
}

.skills ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 70%;
	list-style: none;
	padding: 35px 0 30px;
}

.skills ul li {
	width: auto;
	height: auto;
}

.skills ul li img {
	width: 300px;
}

footer {
	text-transform: uppercase;
	border-top: 5px solid #c7c7c7;
	padding: 25px 0 25px 0;
}

@media screen and (max-width: 840px) {

	.photo-avatar {
		width: 35%;
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		display: none;
	}

	.skills ul {
		width: 65%;
	}

	.skills ul li img {
		width: 270px;
	}
}
