* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	font-family: 'montserrat', sans-serif;
}

.wrap {
	max-width: 950px;
	max-height: 100vh;
	margin: 0 auto;
	padding: 0 25px;
}

.header {
	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
}

.photo-avatar {
	width: 23%;
	border-radius: 100px;
	margin-bottom: 20px;
	padding-top: 25px;
}

.header h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.header h3 {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 25px;
}

.link-contact {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

li {
	width: 65px;
	height: 65px;
	padding-right: 5px;
}

li img {
	width: 100%;
	padding-right: 20px;
	opacity: .5;
}

li img:hover {
	opacity: 1;
	margin: 3px;
}

.aboutMe h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0 7px 0;
	border-top: 5px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}

.aboutMe p {
	text-align: justify;
	font-size: 1em;
	font-weight: 500;
	border-bottom: 5px solid #c7c7c7;
	padding: 20px 35px 30px 35px;
}

.projects h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0 7px 0;
	border-bottom: 1px solid #c7c7c7;
}

.swiper-container {
	padding-top: 65px;
	margin-bottom: 35px;
}

.swiper-slide figure {
	max-width: 650px;
}

figure img,
figure p,
figure figcaption {
	padding-bottom: 30px;
	width: 100%;
}

figure p {
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
}

figure figcaption {
	font-size: 1em;
	text-align: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	color: #000;
	font-size: 35px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0;
}

.swiper-pagination-bullet-active {
	background: #000;
}

.education h2{
	text-align: center;
	text-transform: uppercase;
	border-top: 5px solid #c7c7c7;
	border-bottom: 5px solid #c7c7c7;
	padding: 10px 0 7px 0;
	border-bottom: 1px solid #c7c7c7;
}